[mysqld]
user=mysql
default-storage-engine=INNODB
character-set-server=utf8
    
port            = 3406
#bind-address= localhost
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
skip-name-resolve  # 这个参数是禁止域名解析的，远程访问推荐开启skip_name_resolve。
              
[client]
port = 3406
default-character-set=utf8
                  
[mysql]
no-auto-rehash
default-character-set=utf8
